            
    <a class="navbar-brand" routerLink="/"><b>Film-Explore</b></a>
                  
    <!-- Added routing link which routes to the Home page onclicking Search Movies -->
    <a class="nav-link active" routerLink="/">Home</a>

    <!-- Added routing link which routes to the Search page onclicking Search Movies -->
    <a class="nav-link active" routerLink="/search"><b>Search Movies</b></a>

    <!-- Added routing link which routes to the Bookmarks page onclicking Bookmarked Movies -->
    <a class="nav-link active" routerLink="/bookmarks"><b>Bookmarked Movies</b></a>

