<nb-layout>

    <nb-layout-header > 
        <app-header></app-header>
    </nb-layout-header>

    <nb-layout-column>
        <div class="container">
            <!-- Below code takes the Array of movies and displays each movie in the form of a bootstrap card in the container-->
            <div *ngFor="let movie of Movies">
                <div class="card bg-dark text-center animate-bottom" style="width:230px;">
                    <img src={{movie.Poster}}  class="card-img-top"  >
                    <div class="card-body">
                        <h6 class="card-title"> {{movie.Title}} </h6>
                        <p><b>Release date</b>: {{movie.Year}} </p> <br/>
                        <!-- Triggers removeBookmarks() function on clicking 'Remove' button below -->
                        <button (click)="removeBookmarks(movie)" class="btn btn-danger btn-sm">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </nb-layout-column>

    <nb-layout-footer>
            <p>Film-Explore  &copy; Copyright 2020, All rights reserved.</p>
     </nb-layout-footer>

</nb-layout>
